In [115]:
import pandas
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from tokenize import String
import csv

# project idea from kaggle, Titanic Machine Learning from Disaster
# https://www.kaggle.com/competitions/titanic/overview
# 60% accuracy rating, needs further improvement

In [116]:
with open("train.csv", 'r') as inp, open("trainedit.csv", 'w') as out:
    writer = csv.writer(out)
    count = 0
    missing_data = 0
    index = [1,2,5,6,7,9]
    age = 0
    for line in inp:
        check = []
        status = "good"

        line = line.strip()
        temp = line.split(",")


        if count == 0:
            count += 1
            for num in index:
                check.append(temp[num])
            writer.writerow(check)
            continue

        temp[3] = temp[3] + temp[4]
        temp.pop(4)

        for num in index:
            value = temp[num]
            if value == "":
                status = "bad"
                continue
            check.append(float(temp[num]))
            
        try:  
            age += int(temp[5])
            count += 1
        except:
            missing_data += 1
        
        if len(check) != 6:
            status = "bad"

        if status == "bad":
            continue
        writer.writerow(check)

average_age = round(age / (count - missing_data), 2)
                
average_age

42.14

In [117]:
with open("test.csv", "r") as inp, open("testedit.csv", "w") as out:
    writer = csv.writer(out)
    count = 0
    index = [1,4,5,6,8]
    for line in inp:
        check = []
        status = "good"

        line = line.strip()
        temp = line.split(",")

        if count == 0:
            count += 1
            for num in index:
                check.append(temp[num])
            writer.writerow(check)
            continue

        temp[2] = temp[2] + temp[3]
        temp.pop(2)

        for num in index:
            value = temp[num]
            try:
                check.append(float(temp[num]))
            except:
                check.append(average_age)


        writer.writerow(check)
        
test = pandas.read_csv("testedit.csv")
test

     Pclass    Age  SibSp  Parch      Fare
0       3.0  34.50    0.0    0.0    7.8292
1       3.0  47.00    1.0    0.0    7.0000
2       2.0  62.00    0.0    0.0    9.6875
3       3.0  27.00    0.0    0.0    8.6625
4       3.0  22.00    1.0    1.0   12.2875
..      ...    ...    ...    ...       ...
413     3.0  42.14    0.0    0.0    8.0500
414     1.0  39.00    0.0    0.0  108.9000
415     3.0  38.50    0.0    0.0    7.2500
416     3.0  42.14    0.0    0.0    8.0500
417     3.0  42.14    1.0    1.0   22.3583

[418 rows x 5 columns]

In [118]:
fp = pandas.read_csv("trainedit.csv")
X = fp.drop(columns = "Survived")
Y = fp["Survived"]
X

     Pclass   Age  SibSp  Parch     Fare
0       3.0  22.0    1.0    0.0   7.2500
1       1.0  38.0    1.0    0.0  71.2833
2       3.0  26.0    0.0    0.0   7.9250
3       1.0  35.0    1.0    0.0  53.1000
4       3.0  35.0    0.0    0.0   8.0500
..      ...   ...    ...    ...      ...
709     3.0  39.0    0.0    5.0  29.1250
710     2.0  27.0    0.0    0.0  13.0000
711     1.0  19.0    0.0    0.0  30.0000
712     1.0  26.0    0.0    0.0  30.0000
713     3.0  32.0    0.0    0.0   7.7500

[714 rows x 5 columns]

In [119]:
model = DecisionTreeClassifier()
model.fit(X,Y)
predictions = model.predict(test)
predictions

array([0., 0., 1., 1., 0., 0., 0., 1., 1., 0., 0., 0., 1., 0., 0., 1., 1.,
       1., 0., 0., 1., 0., 1., 0., 1., 0., 1., 1., 1., 0., 1., 1., 0., 0.,
       1., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 1.,
       1., 1., 1., 1., 0., 0., 0., 0., 1., 0., 1., 0., 1., 0., 1., 1., 0.,
       0., 1., 0., 0., 1., 1., 1., 1., 0., 1., 0., 0., 1., 0., 1., 0., 1.,
       0., 1., 1., 0., 1., 1., 0., 1., 0., 1., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 1., 1., 1., 0., 0., 1., 1.,
       1., 0., 0., 1., 0., 0., 1., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 1., 0., 1., 0., 0., 0., 1., 1., 1., 0., 1.,
       0., 0., 1., 1., 0., 1., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
       0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 1.,
       0., 1., 1., 0., 1., 0., 1., 1., 0., 1., 0., 0., 0., 0., 1., 1., 1.,
       0., 1., 0., 0., 1., 0., 1., 0., 1., 0., 1., 0., 0., 1., 1., 0., 1.,
       0., 1., 1., 1., 0., 0., 0., 0., 1., 1., 1., 1., 0., 1., 0., 0., 1.,
       0., 0., 1., 0., 1., 0., 0., 0., 1., 1., 1., 0., 1., 0., 0., 0., 1.,
       0., 0., 0., 0., 0., 1., 0., 1., 1., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 1., 0., 1., 0., 1., 0., 0., 1., 0., 0., 1., 0.,
       0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
       1., 1., 1., 1., 0., 1., 0., 0., 1., 0., 1., 0., 1., 1., 0., 0., 0.,
       1., 1., 0., 1., 0., 1., 0., 1., 0., 0., 1., 0., 0., 1., 0., 1., 0.,
       0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 1., 0., 0., 1., 1., 1., 1.,
       0., 0., 0., 0., 1., 0., 1., 1., 0., 0., 0., 1., 1., 0., 1., 0., 1.,
       0., 1., 0., 0., 0., 1., 0., 1., 0., 0., 1., 1., 0., 0., 0., 0., 1.,
       0., 1., 1., 0., 0., 0., 1., 1., 0., 1., 1., 1., 1., 0., 1., 0., 1.,
       0., 1., 0., 0., 0., 0., 1., 0., 0., 0.])

In [120]:
with open("predictions.csv", "w") as pred:
    header = ['PassengerId', 'Survived']
    writer = csv.writer(pred)
    writer.writerow(header)
    ID = 892
    for num in predictions:
        pair = [ID, int(num)]
        writer.writerow(pair)
        ID +=1